{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Log In" %}{% endblock %}

{% block inner %}
  <!-- Sign in form-->
  <div class="w-100 mt-5" style="max-width: 526px;">
    <h1>{% translate "Log In to Sandbox Math" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
      <p>
        {% translate "Please sign in with one of your existing third party accounts:" %}
        {% if ACCOUNT_ALLOW_REGISTRATION %}
          {% blocktranslate trimmed %}
            Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:
          {% endblocktranslate %}
        {% endif %}
      </p>

      <div class="socialaccount_ballot">

        <ul class="socialaccount_providers">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>

        <div class="login-or">{% translate "or" %}</div>

      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
      {% if ACCOUNT_ALLOW_REGISTRATION %}
        <p class="pb-3 mb-3 mb-lg-4">
          {% blocktranslate trimmed %}
            Don't have an account yet?
            <a href="{{ signup_url }}">Sign Up Here!</a>
          {% endblocktranslate %}
        </p>
      {% endif %}
    {% endif %}

    {% crispy form %}

  </div>

{% endblock %}

{% block inline_javascript %}

{#Script tags with only code, no src (defer by default). To run#}
{#with a "defer" so that you run inline code:#}
<script>
  window.addEventListener('DOMContentLoaded', () => {
    let userID = $("#userID")
    if(userID.hasClass('is-guest')){
      $('input[name="guest_id"]').val(userID.html())
    }
  });
</script>

{% endblock inline_javascript %}
