{% extends "users/user_base.html" %}
{% load static %}

{% block title %}{{ object.username }} - Overview{% endblock %}

{% block inner %}
  <!-- Page content-->
  <div class="col-lg-9 pt-4 pb-2 pb-sm-4">
    <div class="d-sm-flex align-items-center mb-4">
      <h1 class="h2 mb-4 mb-sm-0 me-4">Your Overview</h1>
    </div>
    <!-- Basic info-->
    <section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 mb-4">
        <div class="card-body">
          <div class="d-flex align-items-center mt-sm-n1 pb-4 mb-0 mb-lg-1 mb-xl-3">
            <h2 class="h4 mb-0">Did you get better at algebra in the past {{ days_prior }} days?</h2>
          </div>
          <div class="">
            <div class="accordion" id="accordionAlternative">
              <!-- Activity Overveiew -->
              <div class="accordion-item">
                <h3 class="accordion-header" id="activityOverview">
                  <button class="accordion-button collapsed text-{{ activity_text_color }}" type="button" data-bs-toggle="collapse" data-bs-target="#activityCollapse" aria-expanded="false" aria-controls="activityCollapse">
                    {{ last_week_activity_message}}
                  </button>
                </h3>
                <div class="accordion-collapse collapse" id="activityCollapse" aria-labelledby="activityOverview" data-bs-parent="#accordionAlternative">
                  <div class="accordion-body fs-sm">
                    <ul>
                      <li>{{ new_problems_message }}</li>
                      <li>{{ new_steps_message }}</li>
                      <li>{{ new_checkrewrites_message }}</li>
                      <li>{{ new_checksolutions_message }}</li>
                    </ul>
                    <div class="col-12 d-flex justify-content-center pt-2">
                      <a class="btn btn-primary" href="{% url 'users:activity_info' request.user.username %}">More Detail</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Mistakes Overview -->
              <div class="accordion-item">
                <h3 class="accordion-header" id="mistakesOverview">
                  <button class="accordion-button collapsed text-{{ mistakes_text_color }}" type="button" data-bs-toggle="collapse" data-bs-target="#mistakesCollapse" aria-expanded="false" aria-controls="mistakesCollapse">
                    {{ last_week_mistakes_message }}
                  </button>
                </h3>
                <div class="accordion-collapse collapse" id="mistakesCollapse" aria-labelledby="mistakesOverview" data-bs-parent="#accordionAlternative">
                  <div class="accordion-body fs-sm">
                    <ul>
                      <li>You made {{ recent_mistakes_count }} mistakes in the past {{ days_prior }} days.</li>
                      <li>Your most common mistake was "{{ most_common_mistake }}".</li>
                      {% if find_rate_message %}<li>{{ find_rate_message|safe }}</li>{% endif %}
                      {% if fixed_rate_message %}<li>{{ fixed_rate_message }}</li>{% endif %}
                    </ul>
                    <div class="col-12 d-flex justify-content-center pt-2">
                      <a class="btn btn-primary" href="{% url 'users:mistakes_info' request.user.username %}">More Detail</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Solved Overview -->
              <div class="accordion-item">
                <h3 class="accordion-header" id="solvedOverview">
                  <button class="accordion-button collapsed text-{{ solved_text_color }}" type="button" data-bs-toggle="collapse" data-bs-target="#solvedCollapse" aria-expanded="false" aria-controls="solvedCollapse">
                    {{ solved_message }}
                  </button>
                </h3>
                <div class="accordion-collapse collapse" id="solvedCollapse" aria-labelledby="solvedOverview" data-bs-parent="#accordionAlternative">
                  <div class="accordion-body fs-sm">
                    <ul>
                      <li>{{ solved_detail }}</li>
                      <li>{{ recently_solved_detail }}</li>
                    </ul>
                    <div class="col-12 d-flex justify-content-center pt-2">
                      <a class="btn btn-primary" href="{% url 'users:solutions_info' request.user.username %}">More Detail</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Variety Overview -->
              <div class="accordion-item">
                <h3 class="accordion-header" id="varietyOverview">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#varietyCollapse" aria-expanded="false" aria-controls="varietyCollapse">You need to solve a wider variety of problems.</button>
                </h3>
                <div class="accordion-collapse collapse" id="varietyCollapse" aria-labelledby="varietyOverview" data-bs-parent="#accordionAlternative">
                  <div class="accordion-body fs-sm">This is the third item's accordion body. It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
{% endblock %}
