{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Hero-->
      <section class="bg-secondary d-flex min-vh-100 position-relative overflow-hidden py-5">
        <div class="container d-flex flex-column justify-content-center position-relative zindex-2 pt-sm-3 pt-md-4 pt-xl-5 pb-1 pb-sm-3 pb-lg-4 pb-xl-5">
          <div class="row flex-lg-nowrap align-items-center pb-5 pt-2 pt-lg-4 pt-xl-0 mt-lg-4 mt-xl-0">
            <div class="col-lg-7 order-lg-2 ms-lg-4 mb-2 mb-lg-0">
              <div class="parallax order-lg-2 mx-auto" style="max-width: 740px;">
                <div class="parallax-layer" data-depth="0.05"><img src="assets/img/landing/saas-2/hero/01.png" alt="Layer"></div>
                <div class="parallax-layer" data-depth="-0.05"><img src="assets/img/landing/saas-2/hero/02.png" style="animation: rotate-cw 100s linear infinite;" alt="Layer"></div>
                <div class="parallax-layer zindex-2" data-depth="0.3"><img src="assets/img/landing/saas-2/hero/03.png" alt="Layer"></div>
                <div class="parallax-layer zindex-2" data-depth="0.15"><img src="assets/img/landing/saas-2/hero/04.png" alt="Layer"></div>
                <div class="parallax-layer zindex-2" data-depth="0.4"><img src="assets/img/landing/saas-2/hero/05.png" alt="Layer"></div>
              </div>
            </div>
            <div class="col-lg-5 order-lg-1 text-center text-lg-start me-xl-5">
              <h1 class="display-4 py-3 my-2 mb-xl-3">There is more to math than the answer box</h1>
              <ul class="list-unstyled d-table text-start mx-auto mx-lg-0 mb-0">
                <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Segmenting the audience is easy and simple</li>
                <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Functional dashboard for managing your data</li>
                <li class="d-flex pb-2 mb-1"><i class="ai-check-alt text-primary lead me-2"></i>Key performance indicators of team interaction</li>
              </ul>
              <div class="d-flex justify-content-center justify-content-lg-start pt-4 pt-xl-5">
                <div class="text-center"><a class="btn btn-lg btn-primary rounded-pill w-100 w-sm-auto" href="#">Start free 14-day trial</a>
                  <p class="fs-sm pt-2 mt-sm-1 mb-0">100% free to get started!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

  <!-- Features-->
      <section class="bg-secondary py-5">
        <div class="container mt-1 py-md-2 py-lg-4 py-xxl-5">
          <h2 class="h1 text-center pt-1 pt-sm-4">Take your data to the next level</h2>
          <p class="text-center mx-auto pb-3 mb-3 mb-lg-4" style="max-width: 480px;">Using basic data skills you can analysis and improve your business indicators with Around</p>
          <div class="row g-4 pb-2 pb-sm-4 mb-sm-2">
            <!-- Item-->
            <div class="col-md-5">
              <div class="card border-0 h-100">
                <div class="card-body"><a href="#"><img class="d-dark-mode-none" src="assets/img/landing/saas-2/features/01-light.png" alt="Image"><img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/features/01-dark.png" alt="Image"></a>
                  <div class="pt-3 mt-2 mt-lg-3">
                    <h3>Simple control panel</h3>
                    <p class="mb-0">Dashboard is to present analytical data in a compact form on one page for easy to interpret.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item-->
            <div class="col-md-7">
              <div class="card border-0 h-100">
                <div class="card-body overflow-hidden">
                  <div class="d-sm-flex align-items-center"><a class="d-block order-sm-2 flex-shrink-0 mt-n4 mb-n2" href="#"><img src="assets/img/landing/saas-2/features/02.png" width="308" alt="Image"></a>
                    <div class="order-sm-1 pe-sm-3 me-xl-4">
                      <h3>Segmentation by various methods</h3>
                      <p class="pb-3 mb-1 mb-xl-3">Segmentation allows you to divide users according to a given criterion, and then for each of the groups to develop an advertisement and product.</p><a class="btn btn-link p-0" href="#">Learn more<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item-->
            <div class="col-md-7">
              <div class="card border-0 h-100">
                <div class="card-body overflow-hidden">
                  <div class="d-sm-flex align-items-center"><a class="d-block order-sm-2 flex-shrink-0 mt-n4 mb-n2" href="#"><img class="d-dark-mode-none" src="assets/img/landing/saas-2/features/03-light.png" width="308" alt="Image"><img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/features/03-dark.png" width="308" alt="Image"></a>
                    <div class="order-sm-1 pe-sm-3 me-xl-4">
                      <h3>Key performance indicators</h3>
                      <p class="pb-3 mb-1 mb-xl-3">You can easily identify interdependencies between different indicators, identify tendencies and prevent potential difficulties and problems.</p><a class="btn btn-link p-0" href="#">Learn more<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Item-->
            <div class="col-md-5">
              <div class="card border-0 h-100">
                <div class="card-body"><a href="#"><img class="d-dark-mode-none" src="assets/img/landing/saas-2/features/04-light.png" alt="Image"><img class="d-none d-dark-mode-block" src="assets/img/landing/saas-2/features/04-dark.png" alt="Image"></a>
                  <div class="pt-3 mt-2 mt-lg-3">
                    <h3>Forecasting efficiency</h3>
                    <p class="mb-0">Before launching any marketing activity, you need to assess how successful and effective it can be.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  <!-- CEO quote + Process steps-->
<section class="bg-secondary overflow-hidden">
  <div class="container pb-5 pt-3 pt-md-4 pt-lg-5 my-xl-3 my-xxl-5">
    <div class="row pb-md-3 pb-lg-4 mb-2 mb-lg-3">
      <!-- CEO quote-->
      <div class="col-md-5 d-flex flex-column align-items-center mb-4 mb-md-0">
        <div class="position-relative" style="max-width: 416px;"><img class="d-block position-relative zindex-2" src="assets/img/landing/business-consulting/ceo.png" alt="Nicolas Black">
          <div class="bg-primary position-absolute start-0 bottom-0 w-100" style="height: 85.4%; border-radius: 2.25rem 8rem 2.25rem 2.25rem;"></div>
        </div>
        <div class="text-center text-md-start pt-3 mt-3">
          <h2 class="mb-2">Joseph Meyer</h2>
          <p class="fs-xl text-muted mb-2">CEO Around Group</p>
          <div class="position-relative pt-4" style="max-width: 500px;">
            <div class="position-absolute top-0 start-0 w-100 text-center text-md-start ms-md-1">
              <svg class="text-border" width="155" height="111" viewBox="0 0 155 111" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M125.969 38.7937C129.372 30.2345 134.734 21.7781 141.902 13.6311C144.17 11.053 144.48 7.34066 142.623 4.45316C141.18 2.18441 138.808 0.94696 136.23 0.94696C135.508 0.94696 134.786 0.99826 134.064 1.25633C118.905 5.69065 83.4811 21.4171 82.5014 71.8454C82.1407 91.2842 96.3717 107.99 114.883 109.898C125.144 110.93 135.353 107.578 142.933 100.772C150.512 93.914 154.844 84.117 154.844 73.9077C154.844 56.8922 142.778 41.9905 125.969 38.7937Z"></path>
                <path d="M32.5904 109.898C42.7999 110.93 53.0092 107.578 60.5888 100.772C68.1686 93.914 72.5 84.117 72.5 73.9077C72.5 56.8922 60.4342 41.9905 43.6248 38.7937C47.0281 30.2345 52.3905 21.7781 59.5578 13.6312C61.8265 11.0531 62.1359 7.34071 60.2794 4.45321C58.8358 2.18446 56.4638 0.947006 53.8857 0.947006C53.1641 0.947006 52.4421 0.998306 51.7202 1.25638C36.5608 5.6907 1.13734 21.4172 0.157654 71.8454V72.5671C0.157654 91.6968 14.2341 107.99 32.5904 109.898Z"></path>
              </svg>
            </div>
            <p class="fs-xl position-relative zindex-2 mb-0">The main task of our organization is <strong>to assess the state of your enterprise now and how you can achieve your goals.</strong> Self-assessment of current activities and review of processes formulate decisions to achieve the desired outcome.</p>
          </div>
        </div>
      </div>
      <!-- Steps-->
      <div class="col-md-7 col-lg-6 col-xxl-5 offset-lg-1 offset-xxl-2">
        <div class="ps-md-4 ps-lg-0">
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">01</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Formulation of the problem</h3>
                <p class="card-text">Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="250">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">02</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Assessment of the current state</h3>
                <p class="card-text">Risus quam quis at euismod vitae dui elementu eu in diam malesuada mattis ut urna integer erat nisi nibh.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="500">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">03</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Business plan creation</h3>
                <p class="card-text">A sagittis morbi massa venenatis, egestas viverra ac elit nibh tellus nisi in nec tellus mauris feugiat gravida.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="700">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">04</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Strategy implementation</h3>
                <p class="card-text">Elementum purus, nisl ipsum sit. Amet sit praesent proin sit cras. Leo sed praesent nunc  vel nec risus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  <section class="bg-secondary overflow-hidden">
  <div class="container pb-5 pt-3 pt-md-4 pt-lg-5 my-xl-3 my-xxl-5">
    <div class="row pb-md-3 pb-lg-4 mb-2 mb-lg-3">
      <!-- Steps-->
      <div class="col-md-5 d-flex flex-column align-items-center mb-4 mb-md-0">
        <div class="ps-md-4 ps-lg-0">
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">01</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Formulation of the problem</h3>
                <p class="card-text">Find aute irure dolor in reprehenderi voluptate velit esse cillum dolore eu fugiat nulla pariatur am luctus.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="250">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">02</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Assessment of the current state</h3>
                <p class="card-text">Risus quam quis at euismod vitae dui elementu eu in diam malesuada mattis ut urna integer erat nisi nibh.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="500">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">03</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Business plan creation</h3>
                <p class="card-text">A sagittis morbi massa venenatis, egestas viverra ac elit nibh tellus nisi in nec tellus mauris feugiat gravida.</p>
              </div>
            </div>
          </div>
          <div class="position-relative d-flex justify-content-end my-3 py-1" data-aos="fade-left" data-aos-easing="ease-out-back" data-aos-delay="700">
            <div class="btn btn-lg btn-icon btn-primary fs-xl fw-bold rounded-circle position-absolute top-50 start-0 translate-middle-y zindex-2 pe-none">04</div>
            <div class="card border-0 ps-3" style="width: calc(100% - 1.75rem);">
              <div class="card-body ps-4">
                <h3 class="h5 card-title pb-2 mb-1">Strategy implementation</h3>
                <p class="card-text">Elementum purus, nisl ipsum sit. Amet sit praesent proin sit cras. Leo sed praesent nunc  vel nec risus.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- CEO quote-->
      <div class="col-md-7 col-lg-6 col-xxl-5 offset-lg-1 offset-xxl-2">
        <div class="position-relative" style="max-width: 416px;"><img class="d-block position-relative zindex-2" src="assets/img/landing/business-consulting/ceo.png" alt="Nicolas Black">
          <div class="bg-primary position-absolute start-0 bottom-0 w-100" style="height: 85.4%; border-radius: 2.25rem 8rem 2.25rem 2.25rem;"></div>
        </div>
        <div class="text-center text-md-start pt-3 mt-3">
          <h2 class="mb-2">Katie Seidler</h2>
          <p class="fs-xl text-muted mb-2">CEO Around Group</p>
          <div class="position-relative pt-4" style="max-width: 500px;">
            <div class="position-absolute top-0 start-0 w-100 text-center text-md-start ms-md-1">
              <svg class="text-border" width="155" height="111" viewBox="0 0 155 111" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M125.969 38.7937C129.372 30.2345 134.734 21.7781 141.902 13.6311C144.17 11.053 144.48 7.34066 142.623 4.45316C141.18 2.18441 138.808 0.94696 136.23 0.94696C135.508 0.94696 134.786 0.99826 134.064 1.25633C118.905 5.69065 83.4811 21.4171 82.5014 71.8454C82.1407 91.2842 96.3717 107.99 114.883 109.898C125.144 110.93 135.353 107.578 142.933 100.772C150.512 93.914 154.844 84.117 154.844 73.9077C154.844 56.8922 142.778 41.9905 125.969 38.7937Z"></path>
                <path d="M32.5904 109.898C42.7999 110.93 53.0092 107.578 60.5888 100.772C68.1686 93.914 72.5 84.117 72.5 73.9077C72.5 56.8922 60.4342 41.9905 43.6248 38.7937C47.0281 30.2345 52.3905 21.7781 59.5578 13.6312C61.8265 11.0531 62.1359 7.34071 60.2794 4.45321C58.8358 2.18446 56.4638 0.947006 53.8857 0.947006C53.1641 0.947006 52.4421 0.998306 51.7202 1.25638C36.5608 5.6907 1.13734 21.4172 0.157654 71.8454V72.5671C0.157654 91.6968 14.2341 107.99 32.5904 109.898Z"></path>
              </svg>
            </div>
            <p class="fs-xl position-relative zindex-2 mb-0">The main task of our organization is <strong>to assess the state of your enterprise now and how you can achieve your goals.</strong> Self-assessment of current activities and review of processes formulate decisions to achieve the desired outcome.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
